<!-- navegador -->
<nav class="">
    <div class="w-screen items-center flex h-1/5 border-2 border-orange-500 sticky">
        <!-- logo -->
        <div class="w-1/2 pl-4 border-2 border-green-500 ">
          <a href="#section1">
            <!-- <img src="../assets/images/logoYss.png" alt=""> -->
             <h1 class="text-yssR1 -mb-9 logo" >Yellow Square</h1>
             <h1 class="text-yssR1 logo" >Studio</h1>
          </a>
        </div>
        <!-- menu -->
        <div class="flex flex-wrap justify-end items-center  h-full  w-1/2 text-right border-2 border-blue-500 menu-nav">
          <ul class=" text-right space-x-14 flex border-2 border-pink-500 align-middle justify-end text-2xl font-semibold mr-8">
            <li>
              <a href="#section1">Inicio</a>
            </li>
            <li>
              <a href="#section2">About</a>
            </li>
            <li>
                <a href="">Portfolio</a>
            </li>
            <li>
              <a href="#section3">Servicios</a>
            </li>
            <li>
              <a href="#section4">Contacto</a>
            </li>
          </ul>
        </div>
    </div>
</nav>