<section id="section1" class="section1 seccion" id="section1">
    <div class="flex flex-col w-screen h-[93vh] bg-yssY1">

    <div class="h-1/5 "></div>

     <!-- contenido -->
      <div class="flex flex-col w-screen h-4/5 pt-4 border-2 border-red-700">

       <!-- primera linea -->
       <div class="flex h-2/5 items-center ">
         <div class="flex justify-end w-1/2 px-10 text-2xl text-yssR1">
           <p>
             Bienvenido a Yellow Square Studio <br> <br>
 
             Somos un estudio creativo especializado en diseño web, fotografía, video y diseño gráfico. Nuestro equipo combina la pasión por la estética y la funcionalidad con el objetivo de dar vida a tu visión.
           </p>
         </div>
         <div class="ourwork1 flex justify-center items-center w-1/2 h-3/6 p-10 ">
           <h1 class="text-mask text-left">
             OUR
           </h1>
         </div>
       </div>

       <!-- segunda linea -->
       <div class="flex h-2/5  border-2 border-pink-500">
         <div class="flex justify-end w-1/3 p-10 text-2xl text-yssR1" >
           <p>
             Creemos que cada proyecto es una oportunidad para crear algo único y memorable, utilizando nuestras habilidades para conectar marcas con su audiencia.
           </p>
         </div>
         <div class="ourwork1 flex justify-center items-center w-2/3 p-10 border-2 border-pink-500">
           <h1 class="text-mask text-left">
             WORK
           </h1>
         </div>
       </div>

       <!-- tercera linea -->
        <div class="flex w-screen h-1/5 justify-center items-center border-2 border-purple-500">
         <div class="link-mask flex justify-center items-center  w-24 h-24 rounded-full transition duration-150 ease-out hover:ease-in">
           <a href="#section2" class=" rounded-full ">
             <svg  width="56" height="56" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M43 17.9167V68.0834" stroke="#DBDA39" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
               <path d="M68.3589 43L43.2756 68.0833L18.1923 43" stroke="#DBDA39" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>
             
           </a>
         </div>
        </div>
      </div>

    </div>
    <div class="brandList flex flex-wrap w-screen" id="brandList">
        <ul class="brandList flex flex-wrap w-screen h-[vh]: px-4 pb-4 pt-2 justify-center text-yssY1 font-semibold text-2xl">
            <li>
                <p><a href="">Redbull</a> -</p>
            </li>
            <li>
                <p><a href="">Redbull</a> -</p>
            </li>
            <li>
                <p><a href="">Redbull</a> -</p>
            </li>
            <li>
                <p><a href="">Redbull</a> -</p>
            </li>
            <li>
                <p><a href="">Redbull</a> -</p>
            </li>
            <li>
                <a href="">Redbull</a>
            </li>
        </ul>
     
    </div>
    
   </section>